out/**
schema/**
**/__pycache__/**
venv/**
nexus_use_case_dump/**
**/.coverage
coverage.xml
.idea
*.egg-info
tmp
.DS_Store
export.tar
files.txt
out.tar
out.tar.gz
mba_hierarchy.json
notes.md
public/**
download
